{% extends "base.html" %}
{% block title %} 
Confirmation
{% endblock %}

{% block content %} 

{% load static %}
<div class="bradcam_area breadcam_bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Successfully Registered!!!</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<section class = "contact-section">
    <div class="container text-center">
        <div class="alert alert-info" role="alert">            
            Your information have been saved successfully. Thank you for registering into the portal.
        </div>
    </div>
</section>
{% endblock %}