{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} 
Login
{% endblock %}

{% block content %} 

{% load static %}
<div class="bradcam_area breadcam_bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Login</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="contact-section">
    <div class="container col-xl-6 border p-5">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="contact-title">Login</h2>
            </div>
        </div>
        <div class="container my-2">
            <h3 class="text-danger">{{msg}}</h3>
            <form class="form-contact contact_form" action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                {{form|crispy}} 
                <div class="col-xl-12 p-2 text-center">
                    <button type="submit" class="boxed-btn3">Login</button>
                </div>
            </form>
            
        </div>
    </div>
</section> 

{% endblock %}